body {
    margin: 0;
    font-family: 'Lora', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #02152E;
}

.login-container {
    background-color: #c3d7e9;
    padding: 40px 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 400px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #02152E;
    font-family: 'Poppins', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    text-align: left;
    font-weight: bold;
    color: #333;
    margin-bottom: 1px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #e5e7eb;
    font-family: 'Lora', sans-serif;
}

button {
    padding: 12px;
    border: none;
    background-color: #02152E;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background-color: #0c2c55;
}
