body {
    background-color: #c3d7e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.form {
    width: 400px;
    height: 600px; 
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profil {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.foto-profil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #d9d9d9;
    border: 3px solid #02152E;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-profil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nama-nip {
    width: 100%;
    margin-left: 100px;
    margin-top: 30px;
}

.hal-profil {
    font-size: 12px;
    margin-top: 22px;
    margin-bottom: 5px;
    font-weight: bold;
}

.isi-profil {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

.button-container {
    position: absolute;
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.edit-password-btn {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #02152E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-password-btn:hover {
    background-color: #043673;
}

/* Tombol Back */
.back-btn {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #02152E;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: background-color 0.3s, transform 0.2s;
}

.back-btn:hover {
    background-color: #d9d9d9;
    transform: scale(1.05);
}
