body {
    background-color: #c3d7e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.form {
    width: 400px;
    height: 600px; 
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profil {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.foto-profil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #d9d9d9;
    border: 3px solid #02152E;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-profil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ubah-foto-btn {
    margin-top: 20px;
    width: 90px;
    padding: 3px;
    background-color: #02152E;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #02152E;
    border: none;
}

.ubah-foto-btn:hover{
    background-color: #d9d9d9;
}

.nama-nip {
    width: 100%;
    margin-left: 100px;
    margin-top: 30px;
}

.hal-profil {
    font-size: 12px;
    margin-top: 22px;
    margin-bottom: 5px;
    font-weight: bold;
}

.isi-profil {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

.button-container {
    position: absolute;
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.edit-password-btn {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #02152E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-password-btn:hover {
    background-color: #043673;
}

h2 {
    text-align: left;
}
/* Tombol Back */
.back-btn {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #02152E;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: background-color 0.3s, transform 0.2s;
}

.back-btn:hover {
    background-color: #d9d9d9;
    transform: scale(1.05);
}

.mb-4{
    margin-top: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #02152E;
    color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
    border-radius: 8px;
}

.label {
    display: block;
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 20px;
    text-align: left;
    font-size: 14px;
}

.input-field {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
    font-size: 12px;
}

.close {
    color: red;
    float: right;
    font-size: 28px;
    cursor: pointer;
}

.alert {
    display: block;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

.success {
    background-color: #28a745;
    color: white;
}

.alert.error {
    background-color: #f8d7da;
    color: #721c24;
}

.save-btn {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.password-rules {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 kolom */
    gap: 10px; /* Jarak antar elemen */
    text-align: left;
    margin-bottom: 15px;
    
}

.password-rules li {
    list-style: none;
    font-size: 14px;
    color: #ddd;
    font-size: 12px;
}

